body
{
	background: url("/images/maharaj.jpg");
	padding:0;
	margin:0;
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
	
}
.login-box{
	width:380px;
	height:600px;
	background:rgba(0,0,0,0.4);
	color:white;
	top:50%;
	left:50%;
	position:absolute;
	box-sizing:border-box;
	transform:translate(-50%,-50%);
	padding:70px;
}
.logo{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
}
h1{
	margin:0;
	padding:60px 0 20px;
	text-align:center;
	font-size:22px;
}
form{
	text-align:center;	
}
p{
	margin:o;
	padding:0;
	font-weight:bold;
	
}
input{
	width:100%;
	margin-bottom:20px;
}
.login-box input[type="text"],input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:15px;
}
.login-box input[type ="submit"]{
	border:none;
	outline:none;
	height:40px;
	background-color:black;
	color:white;
	border-radius:20px;
}
.login-box input[type="submit"]:hover{
	cursor:pointer;
	background:orange;
	color:black;
}
a{
	text-decoration:none;
	color:white;
}
a:hover{
	color:green;
}